%tr{:class => cycle(:even, :odd)}
  %td
    = link_to domain.name, domain_path( domain )
  %td
    = domain.type.capitalize
  %td
    - if domain.user
      = link_to domain.user.login, user_path( domain.user )
  %td &nbsp;
  %td
    = link_to prototip_info_icon('table_edit.png', 'zone-edit'), edit_domain_path(domain)
    - unless domain.slave?
      = link_to prototip_info_icon('brick_go.png', 'macro'), apply_macro_domain_path( domain )
    - if current_user.admin? && domain.user
      = link_to_function prototip_info_icon('database_delete.png', 'delete-zone'), "deleteDomain();" , :id => "delete-link-buffer"
    - elsif !current_token
      = link_to prototip_info_icon('database_delete.png', 'delete-zone'), domain_path( domain ), :method => :delete, :confirm => t(:confirm_domain_delete, :domain => domain.name)
